---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Courses from '../components/Courses.astro';
import Contact from '../components/Contact.astro';
import Social from '../components/Social.astro';
import Blog from '../components/Blog.astro';
import About from '../components/About.astro';
---

<Layout title="Juan Hernandez - Software Engineer">
  <Header />
  <main>
    <Hero />
    <About />
    <Projects />
    <Courses />
    <Blog/>
    <Contact />
    <Social />
  </main>
</Layout>